<%- include('../partials/header') %>
    <h3><%= skills.name %>: <%= skills.proficiency %></h3>
    <br>
    <img src="<%= skills.picture %>" style="max-height: 500px;" alt="some text">
    <br>
    <p><%= skills.description %></p>
<%- include('../partials/footer') %>
